.listing-input {
  position: absolute;
  width: 284px;
  height: 50px;
  left: 475px;
  top: 415px;
  //background: #FFFFFF;
  border-radius: 16px 0px 0px 16px;
}

.send {
  position: absolute;
  width: 167px;
  height: 50px;
  left: 759px;
  top: 415px;
  background: #2F80ED;
  border-radius: 0px 16px 16px 0px;
}

.listing-form {
  position: absolute;
  width: 274px;
  height: 177px;
  left: 130px;
  top: 771px;
  border-radius: 23px;
}

.price {
  color: blue;
}